/* Variables */
:root {
    --header-width: 75px;
}



/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    
}



/* HEADER */

header {
    width: var(--header-width);
    position: fixed;
    height: 100%;
    width: 75px;
    background-color: #121212;
    color: white;
    overflow-y: auto;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}

.profile-pic {
    position: relative;
}

.profile-pic img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.profile-pic::before {
    content: "ew. Don't Touch Me.";
    position: absolute;
    top: 90px;
    left: 0;
    opacity: 0.0;
    padding: 3px;
    transform: translateX(-100%);
    transition: transform 0.3s, opacity 0.3s;
}

.profile-pic:hover::before {
    opacity: 0.7;
    transform: translateX(0%);
}

.central-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.central-icons a {
    display: block;
    margin: 50px;
    font-size: 35px;
    color: darkslategray;
    transition: color 0.3s ease-in-out;
}

.central-icons a:hover{
    color: rgb(181, 152, 182);
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons a {
    font-size: 35px;
    color: darkslategrey;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: rgb(181, 152, 182);
}



/* HERO */

.hero {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%), url('../Images/Hero Image V2.png') no-repeat center center;
    background-size: 120%;
    height: 107vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeAndGrow {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

h1 {
    font-size: 10rem;
    margin-bottom: 20px;
    text-shadow: 0 0 30px grey;
}

.hero p {
    opacity: 25%;
    text-shadow: 0 0 10 black;
}

.hero-content {
    animation: fadeAndGrow 2s ease-in-out;
}

.hero h1,
.hero p {
    color: white;
    text-align: center;
    margin: 10px 0;
}



/* PORTFOLIO */

.portfolio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.portfolio-item {
    position: relative;
    margin: 15px;
    width: calc(50% - 30px);
    justify-content: space-around;
}

.portfolio-item img {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 50px;
    transition: filter 0.5s ease-in-out;
}

.portfolio-text {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    font-size: 20px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}

.portfolio-item:hover img {
    filter: brightness(0.2);
}

.portfolio-item:hover .portfolio-text {
    opacity: 1;
}

.main-content {
    margin-left: var(--header-width);
}



/* CONTACT */

.contact-section {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%), url('../Images/Hero-Image.png') no-repeat center center;
    background-size: cover;
    height: 107vh;
    align-items: center;
}

.contact-info {
    display: flex;
    flex: 3;
    padding: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.contact-form {
    display: flex;
    flex: 5;
    padding: 40px;
    color: white;
    background-color: rgba(82, 82, 82, 0.515);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    max-width: 600px;
    text-align: center;
    margin: 5%;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(181, 152, 182);
}

input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input:focus,
textarea:focus {
    outline: none;
    background-color: #e0e0e0;
}

button {
    background-color: rgb(181, 152, 182);
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: black;
}

.form-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 40px;
    font-weight: normal;
    color: rgb(181, 152, 182);
    font-size: 80px;
}



/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .portfolio-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }
}